VITE_SUPABASE_URL=https://dqudvtapdypzngmwaega.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_PzeH2jrH8EQI-HmIpOhQ1g_eFySvIhH
VITE_SUPABASE_ANON_KEY=sb_publishable_PzeH2jrH8EQI-HmIpOhQ1g_eFySvIhH
VITE_LOGIN_EMAIL_DOMAIN=smttrack.example.com
